body {
    font-family: Arial, sans-serif;
}   

.header {
    background: linear-gradient(to right, #8B0000 30%, #FF0000 80%, #FFC0CB 100%);
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
}

a.navlink {
  color: #ffffff;
  position: relative;
  text-decoration: none;
  margin-left: 20px;
}

a.navlink::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a.navlink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}