body {
	background: #E1D9D1;
	background-size: cover;
}
.header {
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
}



.front-box {
	width: 850px;
	background: white;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.container-custom {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-container {
	padding: 60px;
	text-align: center;
}
.image-container {
	background: url('../../img/bg_pic.png') no-repeat center center;
	background-size: cover;
	min-height: 400px;
	border-radius: 0 20px 20px 0;
}
@media (max-width: 768px) {
	.image-container {
		display: none;
	}
	.front-box {
		border-radius: 20px;
	}
}
.back-button {
	background-color: #0B5ED7; /* Base blue */
	color: #ffffff; /* White text */
	margin-top: 5px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700; /* Bold text */
	padding: 8px 16px;
	border-radius: 10px; /* Rounded corners */
	transition: all 0.3s ease;
	margin-left: 10px;
	border: none; /* Explicitly remove border */
	outline: none; /* Remove focus outline (add custom focus styles if needed) */
}

.back-button:hover {
	background-color: #0A4FB5; /* Slightly darker blue on hover */
	transform: translateX(-4px); /* Subtle left movement */
}
a{
	color: #0D6EFD;
	position: relative;
	text-decoration: none;
	margin-left: 20px;
}


