body {
	background: linear-gradient(to right, #D9D9D9, #1E1E1E);
	background-size: cover;
}
.header {
    background: linear-gradient(to right, #8B0000 30%, #FF0000 80%, #FFC0CB 100%);
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
}

.navbar {
	background-color: #8b0000;
}
.front-box {
	width: 850px;
	background: white;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.container-custom {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-container {
	padding: 60px;
	text-align: center;
}
.image-container {
	background: url('../../img/bg_pic.png') no-repeat center center;
	background-size: cover;
	min-height: 400px;
	border-radius: 0 20px 20px 0;
}
@media (max-width: 768px) {
	.image-container {
		display: none;
	}
	.front-box {
		border-radius: 20px;
	}
}
a {
	color: #00f7ff;
	position: relative;
	text-decoration: none;
	margin-left: 20px;
  }
 
  