body {
	font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../../img/bg_login.png'); /* Replace with your image */
    background-color: #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.logol {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logol img {
	width: 100px;
	height: 100px;
}

.form-container {
	position: fixed;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 40px;
	background-color: #fff;
	padding: 2rem;
	color: rgba(243, 244, 246, 1);
}

.title {
	text-align: center;
	font-size: 3rem;
	line-height: 2rem;
	font-weight: 700;
	padding-top: 15px;
}

.title2, .subtitle {
	font-family: inherit;
	color: rgba(51, 51, 51, 0.8);
	text-align: left;
}

.title2 {
	text-align: center;
	font-size: 14px;
	line-height: 0.1rem;
}

.subtitle {
	font-size: 15px;
	margin: 0;
	margin-bottom: -100vh;
	font-weight: 700;
}

.form {
	margin-top: 1.5rem;
}

.input-group {
	width: 100%;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.input-group label {
	display: block;
	color: rgba(156, 163, 175, 1);
	margin-bottom: 4px;
}

.input-group input {
	font-family: inherit;
	font-size: 16px;
	width: 100%;
	margin-bottom: 2vh;
	border-radius: 10px;
	border: 1px solid rgba(105, 105, 105, 0.397);
	background-color: #EBEEF1;
	outline: 0;
	padding: 0.75rem 1rem;
	color: rgba(51, 51, 51, 1);
}

.input-group input:focus {
	border-color: rgba(61, 147, 211, 1);
}

.forgot, .signup, .signin {
	text-align: center;
	font-size: 14px;
	color: rgba(88, 87, 87, 0.822);
}
.signin a{
	text-decoration: none;
}
.forgot {
	display: flex;
	justify-content: flex-end;
	font-size: 0.75rem;
	line-height: 1rem;
	color: rgba(61, 147, 211, 1);
	margin: -1vh 0 3vh;
}

.forgot a, .signup a {
	color: royalblue;
	text-decoration: none;
}

.signup{
	margin: 0;
}

table {
	border-collapse: collapse;
	border-radius: 15px;
	margin: 0 auto;
	background-color: #EBEEF1;
	margin-top: 30px;
}
table td {
	border: 0px solid #333;
	padding-left: 30px;
	padding-right: 30px;
}
.sign{
	width: 100%;
}

.header {
    background: linear-gradient(to right, #8B0000 30%, #FF0000 80%, #FFC0CB 100%);
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
}

/* Responsive design */

@media (min-width: 1400px) {
	.marg-large {
	  margin-top: 5%; /* Customize as needed */
	}
	.card{
		height: 700px;
		padding-top: 80px;
		padding-left: 100px;
		padding-right: 100px;
	}
  }
@media (min-width: 0px) and (max-width: 767px) {
    .header {
		background: linear-gradient(to right, #8B0000 30%, #FF0000 80%, #FFC0CB 100%);
		color: white;
		height: 50px;
		text-align: center;
    }
	.marg-large {
		margin: 5% -5px; /* Customize as needed */
		padding: 0;
		background-color: white;
	  }
	.card{
		height: 500px;
		background-color: white;
	}
	.sm-margin{
		margin: 15% -5px; /* Customize as needed */
		padding: 0;
		width: 100%;
	}
  }